<h3>Alen Stojanov</h3>

<div class="grow">
<img style="margin: auto;" src="img/me.png" />
</div>

<pre>astojanov at inf.ethz.ch</pre>

<p>ETH Zürich<br />
Department of Computer Science<br />
CAB H81.2<br />
Universitätsstrasse 6<br />
8006 Zurich<br />
Switzerland</p>