<h1>Performance Plotter v0.1</h1>

Performance Plotter v0.1 is a tool that maintains a database of performance results, and displays them in a Ajax GUI.

<h1> API </h1>

<h2>Performance Plotter v0.1 HTML Response Codes</h2>

<pre>
    200 HttpServletResponse.SC_OK           Request was successful.
    400 HttpServletResponse.SC_BAD_REQUEST  Malformed JSON.
    403 HttpServletResponse.SC_FORBIDDEN    Authentication failed.
</pre>

<h2>Creating a Session</h2>

In order to initiate a session, the user must provide the following arguments:

<pre>
{
    "requestType":"session",
    "username":"username",
    "password":"password",
    "title":"Ploter API Test",
    "commitID":"b965d116f513a45075ec0847ac13798fbe0cd7e2",
    "maxPerf":6.0,
    "os":"Linux",
    "compiler":"gcc",
    "flags":"-marc=native",
    "cpuModel":"Xeon",
    "cpuFreq":2600,
    "ramSize":1600,
    "ramFreq":3000,
    "opt":"Optional Info"
}
</pre>

As soon as the session is created on the server side, Performance Plotter v0.1, responses returns the same session,
including the Session ID (id), as well as a Unix timestamp, that indicates the creation of the session.

<pre>
{
    "id":17,
    "title":"Ploter API Test",
    "commitID":"b965d116f513a45075ec0847ac13798fbe0cd7e2",
    "timestamp":1395282937,
    "uid":1,
    "maxPerf":6.0,
    "os":"Linux",
    "compiler":"gcc",
    "flags":"-marc=native",
    "cpuModel":"Xeon",
    "cpuFreq":2600,
    "ramSize":1600,
    "ramFreq":3000,
    "opt":"Optional Info"
}
</pre>

<h2>Submitting Data Instance</h2>

When a session is created, the user can use the Session ID, to submit "Data Instances". Each Data instance represents
a single point on the performance plots. The Data Instance contains "series", which is used to group several data
instances into a line plot, assigning the corresponding series.

<pre>
{
    "username":"username",
    "password":"password",
    "sid":17,
    "xaxis":32.0,
    "flops":200.0,
    "cycles":2000.0,
    "series":"Series A",
    "opt":"Optional Info",
    "requestType":"data"
}
</pre>

<h2>Embedding into other websites</h2>

Embedding is as simple as possible. All you need is a valid Session ID number. Example (contains two plots):

<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;&lt;head&gt;
&lt;title&gt;Performance Plotter Embedding&lt;/title&gt;
&lt;script type=&quot;text/javascript&quot;
    src=&quot;https://medellin.inf.ethz.ch:8443/js/lib/jquery-1.11.0.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot;
    src=&quot;https://medellin.inf.ethz.ch:8443/js/perfplotter-embed.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;&lt;body&gt;
    &lt;h1&gt;Performance Plotter Embedding&lt;/h1&gt;
    &lt;table &gt;&lt;tr&gt;&lt;td&gt;
        &lt;h2&gt;First Plot&lt;/h2&gt;
        <b>&lt;div class=&quot;pparea&quot; style=&quot;width: 600px; height: 300;&quot; sid=&quot;19&quot;&gt;&lt;/div&gt;</b>
    &lt;/td&gt;&lt;td&gt;
        &lt;h2&gt;Second Plot&lt;/h2&gt;
        <b>&lt;div class=&quot;pparea&quot; style=&quot;width: 600px; height: 300;&quot; sid=&quot;31&quot;&gt;&lt;/div&gt;</b>
    &lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>