.afs-lane---narrow { font-family: "Lane - Narrow", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; ;}

.afs-lane---narrow { font-family: "Lane - Narrow", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; font-size: 1.000em;}

.afs-lane---narrow { font-family: "Lane - Narrow", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; font-size: 1.000em;}

.afs-lekton { font-family: "Lekton", Menlo, Courier New, Courier, Mono, monospace; font-size: 1.095em;}


@font-face {
    font-family: 'Lane - Narrow';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: local('☺'), url('../fonts/LANENAR_-webfont.woff') format('woff'), url('../fonts/LANENAR_-webfont.ttf') format('truetype'), url('../fonts/LANENAR_-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: 'Lane - Narrow';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: local('☺'), url('../fonts/LANENAR_-webfont.woff') format('woff'), url('../fonts/LANENAR_-webfont.ttf') format('truetype'), url('../fonts/LANENAR_-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: 'Lane - Narrow';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: local('☺'), url('../fonts/LANENAR_-webfont.woff') format('woff'), url('../fonts/LANENAR_-webfont.ttf') format('truetype'), url('../fonts/LANENAR_-webfont.svg#webfontX4pGz9fc') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url('../fonts/SansDroid.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/Lato3.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/Lato2.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/Lato5.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('/fonts/Lato4.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/Lato1.woff') format('woff');
}
