/**
 *      ____               ____ ____   __        __   __
 *     / __ \ ___   _____ / __// __ \ / /____   / /_ / /_ ___   _____
 *    / /_/ // _ \ / ___// /_ / /_/ // // __ \ / __// __// _ \ / ___/
 *   / ____//  __// /   / __// ____// // /_/ // /_ / /_ /  __// /
 *  /_/     \___//_/   /_/  /_/    /_/ \____/ \__/ \__/ \___//_/
 *
 *  https://bitbucket.org/astojanov/performanceplotter/
 *  PerformancePlotter 0.1 - ETH Zurich
 *  Copyright (C) 2014  Alen Stojanov  (astojanov@inf.ethz.ch)
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. If not, see http://www.gnu.org/licenses/.
 */

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a { text-decoration: none; }


#menubar {
    width: 100%;
    height: 50px;
    position:fixed;
    font-family: 'Lato', sans-serif;
    z-index: 9999;
    background: linear-gradient(#3f3f3f, #222222);
    border-bottom: 1px solid #777777;
}

#sidebar {
    margin-top: 103px;
    position: absolute;
    min-height: 100%;
    width: 350px;
    background-color: #444444;
    color: #ffffff;
    /*-webkit-box-shadow: 3px 0px 5px 0px #888 ;*/
}

#mainContainer {
    margin-top: 50px;
    margin-left: 350px;
    /*height: 100%;*/
    /*width: 724px;*/
    /*border: 1px solid;*/
}



.outer  { display: table; position: absolute; height: 100%; width: 100%; }
.middle { display: table-cell; vertical-align: middle; }


#chartContainer {
    width: 160px;
    height: 90px;
    margin: auto;
}



#section a {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

#menubar h1 {
    color: #ffffff;
    font-size: 20px;
    height: 35px;
    margin: 0;
    padding-left: 15px;
    padding-top: 12px;
    /*border: 1px solid #ffffff;*/
}

#sessions {
    margin: 0;
    width: 100%;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #86aaaa;
}

#sessions p {
    float: none;
    padding : 0;
    margin: 0 0 0 10px;
}

#sessions h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin: 0 0 0 10px;
}

#sessions ul {
    width: 100%;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

#sessions ul li {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-top: solid 2px #4e4e4e;
    border-bottom: solid 2px #393939;
    cursor: pointer;

}

#sessions ul li:hover {
    background: linear-gradient(#303030, #3d3d3d);
}

.menuItem {
    cursor: pointer;
    border-left: solid 2px #4e4e4e;
    border-right: solid 2px #393939;
    text-align: center;
    padding-top: 10px;
    /*border-right: solid 2px #393939;*/
    /*width: 80px;*/
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;
    float: right;
    /*font-family: "Lane - Narrow", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;*/
}

.menuItem:hover {
    background: linear-gradient(#303030, #3d3d3d);
}

#loginForm {
    width: 300px;
    height: 150px;
    margin: auto;
    /*border: 1px solid;*/
    color: #666666;

}

#loginButton {
    background-color: #f3f3f3;
    cursor: pointer;
    width: 150px;
    height: 20px;
    margin: auto;
    padding: 5px;
}

#loginForm input {
    font-size: 16px;
    width: 250px;
    height: 20px;
    border: none;
    color: #666666;
    background-color: #f3f3f3;
    /*opacity: 0.9;*/
    padding: 10px;

    -webkit-box-shadow:
        inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
        inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1);
    box-shadow:
        inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1);

}

#adminSessionsContainer {
    width: 600px;
    min-height: 300px;
    /*border: 1px solid;*/
    margin: auto;
    font-size: 14px;
    padding-left: 20px;
}

#adminSessionsContainer h2 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 1px #4e4e4e;

    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}

#adminSessionsContainer p {
    padding: 0;
    margin: 0;
}

#adminSessionsContainer ul {
    width: 100%;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

#adminSessionsContainer ul li {
    margin: 0;
    padding: 10px;
    width: 100%;
}

.adminSessions ul li:hover {
    /*background: linear-gradient(#303030, #3d3d3d);*/
}

.sessionEditContainer {
    display: none;
    padding-top: 10px;
}

.sessionEditContainer input {
    width: 100%;

}

.sessonFieldLabel {
    width: 160px;
}

#mainAPIContainer {
    width: 700px;
    margin: auto;
}

#aboutContainer {
    width: 280px;
    margin: auto;
}

#aboutContainer img {
    -webkit-box-shadow: 5px 5px 5px #333;
    box-shadow: 5px 5px 5px #333;
}

#aboutContainer pre {
    font-size: 14px;
}

#aboutContainer p {
    color: #86aaaa;
    font-size: 14px;
}


.frame {
    margin-top: 51px;
    z-index: 9999;
    width: 332px;
    height: 34px;
    position: fixed ;
    padding: 9px;
    background-color: #3f3f3f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#222222));  Saf4+, Chrome
    background-image: -webkit-linear-gradient(#3f3f3f, #222222); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(#3f3f3f, #222222); /* FF3.6 */
    background-image:     -ms-linear-gradient(#3f3f3f, #222222); /* IE10 */
    background-image:      -o-linear-gradient(#3f3f3f, #222222); /* Opera 11.10+ */
    background-image:         linear-gradient(#3f3f3f, #222222);
}

.search-input {
    width: 280px;
    padding: 6px 10px 6px 35px;
    color: #ccc;
    position: relative;
    outline: none;
    background-color: #4c4c4c;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-image: url("../img/search.png");
    border: 1px solid #222;
    -moz-box-shadow:    inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow:         inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
}


.search-input {
    -moz-border-radius:    28px;
    -webkit-border-radius: 28px;
    border-radius:         28px;
}

#submenu {
    position: fixed;
    z-index: 100000;
    width: 150px;
    display: none;
}

.submenuItem {

    border-top: solid 2px #4e4e4e;
    border-bottom: solid 2px #393939;

    background: linear-gradient(#3f3f3f, #222222);
    /*border: 1px solid #ff0000;*/
    list-style-type: none;
    margin: 0;
    cursor: pointer;
    text-align: center;
    width: 130px;
    padding: 10px;
    height: 25px;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;
    /*float: right;*/
    /*font-family: "Lane - Narrow", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;*/
}

.submenuItem:hover {
    background: linear-gradient(#303030, #3d3d3d);
}